@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');



.searchWrappper {
    display: flex;
    justify-content: center;
}


.ItemCountryWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding-top: 30px;
}

.ItemCountryWrapper h3 {
    text-align: center;
    padding: 30px 0px 30px 0px;
    margin: 0;
    color: #f1f1f1;
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
}


.ItemCountryWrapper button {
    padding: 10px 30px;
    font-size: 32px;
    margin-bottom: 50px;
    border: 3px solid transparent;
    cursor: pointer;
    font-family: 'Caveat', cursive;

}

.ItemCountryWrapper button:hover {
    border: 3px solid rgb(126, 20, 175);
}